/* CSS Reset */
* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Element Modifiers */
a {
    text-decoration: none;
}

li a {
    color: #E5E7EB;
}

li a:hover {
    text-decoration: underline;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    padding-left: 24px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    align-items: center;
}

body {
    background-color: #1F2937;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    align-items: center;
    color: #F9FAF8;
}

img {
    width: 30em;
    display: block;
    border-radius: 5px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    /* margin-bottom: 8px; */
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 2rem;
}

button {
    padding: 8px 24px;
    font-weight: bold;
}

/* Section Modifiers */
.hero {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 50vh;
    padding: 10% 15%;
    gap: 8rem;
    /* flex-wrap: wrap; */
}

.info {
    text-align: center;
    background-color: white;
    padding: 3rem 22rem 8rem 22rem;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    min-height: 50vh;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.CTA {
    min-height: 30vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Class Modifiers */
.hero-content {
    width: 35rem;
    flex: 0 1 auto;
}

.subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.cards {
    display: flex;
    gap: 3rem;
    justify-content: center;
    height: auto;
}

.card {
    width: 10rem;
    height: auto;
}

.square {
    border: solid #3882f6 4px;
    border-radius: 10px;
    width: 10rem;
    height: 10rem;
    margin: auto;
}

.card-text {
    color: gray;
    text-align: center;
    font-size: 18px;
    padding-top: 8px;
}

.quote-container {
    max-width: 60%;
    height: 50vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.person {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    align-self: flex-end;
}

.CTA-container {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 3rem 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6.5rem;
    border-radius: 10px;
}

/* ID Modifiers */
#header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

#main-CTA {
    color: #F9FAF8;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    margin-top: 8px;
}

#secondary-CTA {
    border: solid #F9FAF8 2px;
    border-radius: 5px;
    background-color: transparent;
    color: #F9FAF8;
}

#secondary-CTA:hover {
    background-color: #F9FAF8;
    color: #1F2937;
}